body{
  background-color: #333;
}

// BEM 
// hw1: create 4 class variations for the head ( directions)

.snake__{
  &head{
    background-image: url(./snake-sprite.png);
    width: 62px;
    height: 62px;

    &.dir-up{
      background-position: -194px 0;
    }

    &.dir-down {
      background-position: -258px -66px;
    }

    &.dir-left {
      background-position: -188px -66px;
    }

    &.dir-right{
      background-position: -260px 0;
    }
  }
}

